<div>
  <h2><%= @group.name %></h2>
  <div class="is-pulled-right"><%= render 'shared/total' %></div>
</div>


<div class="buttons">
  <button class="button is-primary is-rounded"><%= link_to 'Edit Group', edit_group_path(@group) %></button>
  <button class="button is-danger is-rounded"><%= link_to 'Delete Group', group_path(@group), method: :delete,
                                                  data: { confirm: "Deleting this group will not delete the expenses in this group. Delete?" } %></button>
</div class="buttons">

<%= render 'shared/add_new_link'%>

<%= render 'expenses/expense', obj: @grouped %>

<h3>Try adding some of these ungrouped expenses:</h3>

<%= render 'expenses/expense', obj: @ungrouped %>



