<table class="table">
  <thead>
    <tr>
      <th><abbr title="Position"><%= link_to "Group", all_groups_path %></abbr></th>
      <th>Total</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Position"><%= link_to "Total Expenses", all_expenses_path %></abbr></th>
      <th><%= @grand_total %></th>
    </tr>
  </tfoot>
  <tbody>  
    <% @groups.each do |g| %>
    <tr>
      <th><%= link_to g.name, group_path(g) %> </th>
      <td><%= Group.total(g) %></strong>
    </tr>
    <% end %>
  </tbody>
</table>
