<div class="columns is-multiline">
  <% obj.each do |expense| %>
    <div class="column is-3">
      <article class="tile is-child notification is-light">
        <p class="title has-text-weight-bold">Name: <%= expense.name %></p>
        <p class="subtitle"><em>Amount: </em><%= expense.amount %></p>
        <% if obj == @expenses %>
          <button class="button is-primary is-small is-rounded"><%= link_to 'Edit', edit_expense_path(expense) %></button>
          <button class="button is-danger is-small is-rounded"><%= link_to 'Delete', expense_path(expense), method: :delete, data: { confirm: "Are you sure?" } %></button>
        <% end %>
        <% if obj == @grouped  %>
          <button class="button is-primary is-small is-rounded"><%= link_to 'Edit', edit_expense_path(expense) %></button>
          <button class="button is-warning is-small is-rounded"><%= link_to 'Remove', expense_group_path(expense: expense.id, group: @group.id), method: :delete, data: { confirm: "Are you sure?" } %></button>
          <button class="button is-danger is-small is-rounded"><%= link_to 'Delete', expense_path(expense), method: :delete, data: { confirm: "Are you sure?" } %></button>
        <% end %>
        <% if obj == @ungrouped %>
          <button class="button is-primary is-small is-rounded"><%= link_to 'Add', expense_groups_path(expense: expense.id, group: @group.id), method: :post %></button>
        <% end %>
      </article>
    </div>
  <% end %>
</div>

