<%= form_with(model: @expense, local: true) do |f| %>
  <div class="field">
    <%= f.label :name, class: "label" %> 
    <div class="control">
      <%= f.text_field :name, class: "input", placeholder: "e.g Netflix" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :amount, class: "label" %> 
    <div class="control">
      <%= f.text_field :amount, class: "input", placeholder: "e.g 15.99 " %>
    </div>
  </div>
  <div class="control">
      <%= f.label "Group(s)", class: "label" %>
      <p class="help">Select which group(s) this expense belong to (can be blank) or 
                      <%= link_to "Create a new group", new_group_path %> </p>
      <%= f.collection_check_boxes :group_ids, @groups, :id, :name do |b|  %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
  </div>
  <%= f.submit "Submit", class: "button is-primary" %>
<% end %>
