<!DOCTYPE html>
<html>
  <head>
    <title>HomeExpensesTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'custom', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'navigation' %>
    <section class="section">
      <div class="content mt-5">
       <%= render 'layouts/messages' %>
        <div class="container"><%= yield %></div>
        <%= toastr_flash %>
      </div>
    </section>
  </body>
</html>
